.contenedor-formulario-pago {
    background-color: #F9F6F0;
    border: 1px solid #1A531A;
}

.contenedor-resumen-pedido {
    background-color: #F9F6F0;
    border: 2px solid #1A531A;
}

.cursor-pointer {
    cursor: pointer;
}

.caja-opcion-metodo-pago {
    transition: all 0.3s ease;
    background-color: white;
    border: 1px solid #dee2e6;
}

.caja-opcion-metodo-pago.activo {
    background-color: #C1D0B5; 
    border-color: #1A531A;
}

.imagen-producto-resumen {
    width: 50px;
    height: 50px;
    object-fit: contain;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: white;
}

.boton-cancelar-compra {
    background-color: white;
    color: #dc3545; 
    font-weight: bold;
    border: 2px solid #dc3545;
    transition: all 0.3s ease;
}

.boton-cancelar-compra:hover {
    background-color: #dc3545;
    color: white;
}

.form-control.borde-error, 
.form-select.borde-error {
    border-color: #dc3545;
}

.texto-error {
    color: #dc3545;
    font-size: 0.8rem;
    margin-top: 5px;
}